.carousel {
  display: inline-block;
  width: 100%;
}
.carousel > .gallery {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.carousel > .gallery > .list {
  display: inline-block;
  width: 100%;
}
.carousel .list > .item {
  width: 100%;
  float: left;
  border: 1px solid #ccc;
}
.carousel > .controls {
  display: inline-block;
  width: 100%;
}
.carousel > .controls > .dots {
}
.carousel .dots > .dot {
}
